/* Bratz Base */
* {
  margin: 0;
  font-family: Marker Felt;
  text-align: center;
}
p:first-of-type{
  font-size: 30px;
  font-weight: bold;
  color: white;
}
p:nth-of-type(2){
  font-size: 10px;
  font-weight: bold;
  color: #ff00b3;
}


h1 {
  color: rebeccapurple;
  font-size: 1em;
  width: 50%;
  padding: 1em;
  top: 50px;
  left: 124px;
  border-radius: 20px;
  position: absolute;
  z-index: 6;
  height: fit-content;
  background-color: white;
}

h2{
  color: rebeccapurple;
  font-size: 1em;
  width: 50%;
  padding: 1em;
  border-radius: 20px;
  position: absolute;
  z-index: 6;
  translate: 40% 780%;
  height: fit-content;
  background-color: white;
}

h3 {
  color: white;
  padding-top: 60px;
  padding-bottom: 1.5px;
}


.hair-outline-1 {
  fill: #000;
  stroke-width: 0px;
}

.hair-outline-2 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

#hair-outline {
  position: absolute;
  bottom: 0;
  z-index: 5;
}

#hair {
  position: absolute;
  width: 100%;
  fill: gold;
  z-index: 3;
  top: 9.2rem;
}


.face-1 {
  fill: none;
}

.face-1,
.face-2,
.face-3,
.face-4 {
  stroke-width: 0px;
}

.face-5 {
  mask: url(#mask);
}

.face-2 {
  fill: #f7ef8d;
}

#face-part {
  width: 19rem;
  top: 7.9rem;
  left: 4rem;
  position: absolute;
  z-index: 2;
}

#lip-item {
  position: absolute;
  top: 0;
}

.face-3 {
  fill: #eed6b2;
}

.face-4,
.face-6 {
  fill: #000;
}

.face-7 {
  filter: url(#luminosity-invert-noclip-2);
}

.face-8 {
  filter: url(#luminosity-invert-noclip);
}

.face-9 {
  mask: url(#mask-1);
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/achtergrond.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.begin {
  background-color: pink;
  position: fixed;
  width: 540px;
  padding: 20px;
  height: 200px;
  text-align: center;
  left: 440px;
  top: 175px;
  z-index: 1;
}

#startbutton {
  padding: 10px 25px;
  left: 680px;
  top: 325px;
  position: fixed;
  font-size: 18px;
  background-color: #ff00b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startbutton:hover {
  background-color: #920066;
  text-shadow: white;
}

#terugknop{
  padding: 10px 20px;
  left: 800px;
  top: 115px;
  position: fixed;
  font-size: 18px;
  background-color: #fc8ddb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#klaarbutton{
  padding: 10px 20px;
  left: 960px;
  top: 650px;
  position: fixed;
  font-size: 18px;
  background-color: #ff00b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#klaarbutton:hover{
  background-color: #920066;
  text-shadow: white;
}

main section:first-of-type {
  display: flex;
  width: 30rem;
  margin-right: 20px;
}

section section:nth-of-type(2) {
  width: 1rem;
}

section section div {
  padding-top: 52px;
  height: 620px;
  width: 500px;
  position: relative;
  top: 52px;
  left: 270px;
  border: rgb(80, 0, 40) solid 1rem;
  background-color: lightpink;
}

#image-container{
  width: 50px;
  height: 50px;
  position: relative;
  left: 830px;
  top: -70px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f978ad;
}

section section:nth-of-type(2) button {
  width: 4rem;
}

section section:first-of-type {
  width: 30rem;
  border: hotpink solid 1rem;
  margin: 0;
  background-color: #e5c396;
  position: relative;
  left: 200px;
  top: 52px;
  height: 42rem;
  width: 100%;
}

section section:nth-of-type(2) article {
  display: flex;
  padding-left: 3em;
  padding-right: 3em;
  gap: 1rem;
  justify-content: space-between;
}

button {
  aspect-ratio: 1;
  width: 3rem;
  padding: 10px;
  border-radius: 100%;
  background-color: grey;

}

article:first-of-type button:first-of-type {
  color: pink;
  z-index: 99;
}

#eyes-part {
  position: absolute;
  top: 15.5em;
  left: 7.6rem;
  z-index: 6;
  width: 14rem;
}


.bust-1 {
  clip-path: url(#clippath);
}

.bust-2,
.bust-3 {
  fill: none;
}

.bust-2,
.bust-4,
.bust-5,
.bust-6,
.bust-7,
.bust-8,
.bust-9 {
  stroke-width: 0px;
}

.bust-3 {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.bust-4 {
  fill: #eed6b2;
}

.bust-10 {
  clip-path: url(#clippath-1);
}

.bust-11 {
  clip-path: url(#clippath-3);
}

.bust-12 {
  clip-path: url(#clippath-2);
}

#bust-item {
  position: absolute;
  z-index: 1;
  top: 28.5rem;
  left: 2.5rem;
  width: 18rem;
}

.bust-5 {
  fill: #e5c396;
}

.bust-6 {
  fill: #000;
}

.bust-7 {
  fill: #f978ad;
}

.bust-8 {
  fill: #c63c7e;
}

.bust-9 {
  fill: #e1bc8f;
}


.eyes-1,
.eyes-2,
.eyes-3,
.eyes-4 {
  stroke: #000;
  stroke-miterlimit: 10;
}

.eyes-2 {
  fill: #eed6b2;
}

.eyes-2,
.eyes-3,
.eyes-4 {
  stroke-width: 2px;
}

.eyes-3 {
  fill: red;
}

.eyes-4 {
  fill: #f7f3e8;
}

.eyes-5,
.eyes-6,
.eyes-7 {
  stroke-width: 0px;
}

/*wenkbrauen*/
.eyes-6 {
  fill: #4f3205;
}

.eyes-7 {
  fill: #fff;
}

.lips-1 {
  fill: #e2a7a3;
}

.lips-2 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

#lips-item {
  position: absolute;
  top: 24rem;
  left: 11.5rem;
  z-index: 3;
  width: 6rem;
}


/*eerste section knopjes*/
section:nth-of-type(2) article:first-of-type button:first-of-type {
  background-color: red;

}

section:nth-of-type(2) article:first-of-type button:nth-of-type(2) {
  background-color: green;

}

section:nth-of-type(2) article:first-of-type button:nth-of-type(3) {
  background-color: lightskyblue;

}

section:nth-of-type(2) article:first-of-type button:nth-of-type(4) {
  background-color: saddlebrown;

}

section:nth-of-type(2) article:first-of-type button:nth-of-type(5) {
  background-color: pink;

}

/*tweede section knopjes*/
section:nth-of-type(2) article:nth-of-type(2) button:first-of-type {
  background-color: lightcoral;
}

section:nth-of-type(2) article:nth-of-type(2) button:nth-of-type(2) {
  background-color: deeppink;

}

section:nth-of-type(2) article:nth-of-type(2) button:nth-of-type(3) {
  background-color: darkred;

}

section:nth-of-type(2) article:nth-of-type(2) button:nth-of-type(4) {
  background-color: brown;

}

section:nth-of-type(2) article:nth-of-type(2) button:nth-of-type(5) {
  background-color: magenta;

}

/*laatste knopjes*/
section:nth-of-type(2) article:nth-of-type(3) button:first-of-type {
  background-color: gold;
}

section:nth-of-type(2) article:nth-of-type(3) button:nth-of-type(2) {
  background-color: saddlebrown;

}

section:nth-of-type(2) article:nth-of-type(3) button:nth-of-type(3) {
  background-color: darkred;

}

section:nth-of-type(2) article:nth-of-type(3) button:nth-of-type(4) {
  background-color: chocolate;

}

section:nth-of-type(2) article:nth-of-type(3) button:nth-of-type(5) {
  background-color: pink;

}